{% extends "base.html" %}

{% block title %}سبد خرید{% endblock %}

{% block content %}
    <h1>سبد خرید</h1>
    {% for item in cart %}
        <div class="product-item" data-item-id="{{ item.product_obj.id }}">
            <a href="{% url 'products:product_detail' item.product_obj.id %}">{{ item.product_obj.title }}</a>
            <p id="quantity-{{ item.product_obj.id }}">تعداد {{ item.quantity }}</p>
            <div class="actions">
                <div class="quantity-add">+</div>
                <div class="quantity-reduce">-</div>
                <div class="product-remove">حذف</div>
            </div>
             <p> قیمت محصول: <span id="total-price-product-{{ item.product_obj.id }}">{{ item.total_price }}</span></p>
        </div>
      

        

    {% endfor %}

    <div>
        <p>:قیمت کل <span id="final-price">{{ cart.get_total_price }}</span></p>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){

        $('.quantity-add').on('click', function(){
            updateQuantity($(this).closest('.product-item').data('item-id'), 'add');
        }); 
    
        $('.quantity-reduce').on('click', function(){
             updateQuantity($(this).closest('.product-item').data('item-id'), 'reduce');
         });

          $('.product-remove').on('click', function(){
             removeProduct($(this).closest('.product-item').data('item-id'));
         });
        
        function updateQuantity(itemId, action){
            $.ajax({
                type: 'POST',
                url: '{% url "cart:update_cart" %}',
                data: {
                    'item_id': itemId,
                    'action': action,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response){
                    if(response.success){
                        $('#item-count').text(response.item_count);
                        $('#cart-total-price').text(response.cart_total_price);
                        $('#quantity-' + itemId).text(response.quantity);
                        $('#total-price-product-' + itemId).text(response.total_price_product);
                        $('#final-price').text(response.final_price);
                    } else {
                        alert('error updating quantity');
                    }
                }
            });
        }

                function removeProduct(itemId){
            $.ajax({
                type: 'POST',
                url: '{% url "cart:remove_product" %}',
                data: {
                    'item_id': itemId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response){
                    if(response.success){
                        $('#item-count').text(response.item_count);
                        $('#cart-total-price').text(response.cart_total_price);
                        $('#final-price').text(response.final_price);
                        $(`.product-item[data-item-id=${itemId}]`).remove();
                    } else {
                        alert('error remove product');
                    }
                }
            });
        }


    });
</script>
{% endblock %}