{% extends 'base.html' %}
{% load static %}
{% block title %} ثبت نام {% endblock %}

{% block body %}

{% block navbar %}
{% endblock %}
{% block header %}
{% endblock %}

    
<div class="bg-orange-300 h-72">
    <!-- <div class="h-72 bg-orange-300"></div> -->
    <div class="absolute text-center left-0 xs:right-0 p-5 xs:rounded-xl mx-auto top-36 bg-white w-screen xs:w-[400px] h-[280px]">
        <h3 class="text-zinc-700 text-xl xs:text-2xl font-MorabbaMedium pt-5">خوش آمدید :)</h3>
        <div class="py-8 px-5 text-justify">
            <p>
                شما با موفقیت حساب خود را فعال کردید و وارد سیستم شدید
            </p>

        </div>

        <div>
            <a href="{% url 'products:home' %}" class="absolute mx-auto right-0 left-0 bottom-11 hover:underline">بازگشت به صفحه ی اصلی</a>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}