{% extends 'base.html' %}
{% load static %}
{% block title %}تغییر پسورد{% endblock %}

{% block body %}

{% block navbar %}
{% endblock %}
{% block header %}
{% endblock %}

<div class="flex-center min-h-screen">
  <div>


      <div class="max-w-[350px] text-lg px-6 py-5 bg-white dark:bg-zinc-700/[0.8] text-center rounded-2xl">
          <div class="user-data">
              <h3 class="font-DanaDemiBold text-xl text-zinc-700 mb-[18px] dark:text-white">تغییر رمز عبور</h3>
          
              <form method="post">
                  {% csrf_token %}
                  <div>
                      <input type="password" name="old_password" class="rounded-lg text-base bg-gray-100 dark:bg-zinc-600 outline-none h-12 w-full ltr-text placeholder:text-right px-3.5" placeholder="گذرواژه قدیمی">
                      <input type="password" name="new_password1" class="rounded-lg mt-3 text-base bg-gray-100 dark:bg-zinc-600 outline-none h-12 w-full ltr-text placeholder:text-right px-3.5" placeholder="گذرواژه جدید">
                      <input type="password" name="new_password2" class="rounded-lg mt-3 text-base bg-gray-100 dark:bg-zinc-600 outline-none h-12 w-full ltr-text placeholder:text-right px-3.5" placeholder="تایید گذرواژه جدید">
                      <button type="submit" class="h-[52px] w-full bg-orange-300 rounded-full mt-5 text-zinc-700 mb-5">ذخیره</button>
                  </div>
              </form>
              <div class="flex justify-start">
                  <a href="{% url 'products:home' %}" class="text-sm text-right hover:underline dark:text-white">بازگشت به صفحه اصلی</a>
              </div>
              
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}