    <!-- App Footer -->

    <footer class="relative bg-zinc-700 py-8 md:pb-11 md:pt-[62px]">
        <svg
            class="md:inline-block hidden absolute -top-1 right-0 left-0 mx-auto text-gray-100 dark:text-zinc-800 w-[100px] h-[22px]">
            <use href="#curve-footer"></use>
        </svg>
        <div
            class="md:flex hidden absolute left-0 right-0 top-0 mx-auto -translate-y-4 items-center justify-center w-[30px] h-[30px] rounded-full border-2 border-orange-300">
            <svg class="w-5 h-5 text-zinc-700 dark:text-white rotate-180">
                <use href="#chevron-down"></use>
            </svg>
        </div>
        <div class="text-gray-300 sm:w-[94%] lg:w-[90%] px-4 md:px-0 mx-auto">
            <div class="flex flex-wrap justify-between">
                <div>
                    <div class="flex gap-x-3.5 mb-6 md:mb-4.5 text-gray-300">

                        <svg class="w-[57px] h-[54px]">
                            <use href="#logo"></use>
                        </svg>
                        <svg class="w-[138px] h-[54px]">
                            <use href="#logo-type"></use>
                        </svg>
                    </div>
                    <p class="xl:max-w-full md:text-xl/[48px]">
                        ما برآنیم تا با پیشرو بودن در فرآیند تولید، نوع و کیفیت محصول، خدمات و توزیع، الگویی برای
                        تولیدکنندگان ایرانی باشیم و به مرجع فرهنگ قهوه در ایران تبدیل شویم. می‌پنداریم که نظر مردم ایران
                        و منطقه باید نسبت به کالای ایرانی بهبود یابد و در این راستا با اشتیاق می‌کوشیم.
                    </p>
                </div>

                <div class="mt-10 md:mt-[26px]">
                    <h4 class="font-DanaDemiBold text-2xl text-white mb-6 md:mb-7">دسترسی سریع</h4>
                    <div class="grid grid-cols-2 gap-y-2.5 md:gap-y-5 gap-x-10 md:gap-x-16">
                        <a href="#"
                            class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-colors">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full"></span>
                            حریم خصوصی
                        </a>
                        <a href="#"
                            class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-colors">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full"></span>
                            عودت کالا
                        </a>
                        <a href="#"
                            class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-colors">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full"></span>
                            شرایط استفاده
                        </a>
                        <a href="#"
                            class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-colors">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full"></span>
                            ثبت سفارش
                        </a>
                        <a href="#"
                            class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-colors">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full"></span>
                            پرسش های متداول
                        </a>
                        <a href="#"
                            class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-colors">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full"></span>
                            فرصت های شغلی
                        </a>
                        <a href="#"
                            class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-colors">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full"></span>
                            ضمانت نامه ها
                        </a>
                        <a href="#"
                            class="flex items-center gap-x-2 md:gap-x-3 md:text-xl hover:text-orange-300 transition-colors">
                            <span class="inline-block w-2 md:w-2.5 h-1 bg-current rounded-full"></span>
                            ارتباط با ما
                        </a>
                    </div>
                </div>

                <div class="mt-10 md:mt-[26px]">
                    <h4 class="font-DanaDemiBold text-2xl text-white mb-6 md:mb-7">در تماس باشیم</h4>
                    <div>
                        <div class="text-xl mb-6 md:mb-10">
                            <span class="flex items-center gap-x-2 md:gap-x-3 mb-4 md:mb-5">
                                <svg class="shrink-0 w-5 h-5 md:w-6 md:h-6">
                                    <use href="#map-pin"></use>
                                </svg>
                                بلوار میرداماد، خیابان البرز، کوچه قبادیان شرقی، پلاک ۳۳
                            </span>

                            <div class="flex flex-wrap gap-x-5 gap-y-4 font-DanaMedium">
                                <a href="#" class="flex items-center gap-x-2 md:gap-x-3 text-orange-300">
                                    <svg class="w-5 h-5 md:w-6 md:h-6">
                                        <use href="#envelope"></use>

                                    </svg>
                                    info@coffee.com
                                </a>
                                <div class="flex items-center gap-x-3 md:gap-x-4">
                                    <svg class="w-5 h-5 md:w-6 md:h-6">
                                        <use href="#phone-contact-us"></use>

                                    </svg>
                                    <span class="ltr-text">0902 123 6628</span>
                                    <span class="ltr-text">021 - 6798012</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-x-1.5 md:gap-x-6 ltr-text font-DanaMedium md:text-xl">

                            <a href="#"
                                class="gradient-button flex items-center flex-grow justify-center h-12 gap-x-2 rounded-xl text-zinc-700">
                                <svg class="w-[26px] h-[26px] md:w-[38px] md:h-[38px]">
                                    <use href="#telegram"></use>
                                </svg>
                                @gelden_coffee
                            </a>
                            <a href="#"
                                class="flex items-center flex-grow justify-center h-12 gap-x-2 border border-orange-200 text-orange-200 rounded-xl">
                                <svg class="w-[26px] h-[26px] md:w-[38px] md:h-[38px]">
                                    <use href="#instagram"></use>
                                </svg>
                                @gelden_coffee
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="flex flex-wrap justify-between items-center gap-4 font-DanaMedium text-xs/5 md:text-base border-t border-t-white/10 pt-10 md:pt11 mt-10 md:mt-11">
                <div class="flex items-center gap-x-2.5">
                    <div
                        class="flex items-center justify-center shrink-0 w-[30px] h-[30px] border border-white/10 rounded-full">
                        <div class="flex items-center justify-center w-5 h-5 border border-white/20 rounded-full">
                            <div class="gradient-button w-2.5 h-2.5 rounded-full"></div>
                        </div>

                    </div>
                    <p>تمام حقوق این رابط کاربری متعلق به <span class="text-orange-200">سبزلرن</span> میباشد و دانشجوی
                        این دوره اجازه استفاده آن را در مصارف شخصی و تجاری ندارد.</p>
                </div>
                <span class="ltr-text mr-auto">Copyright © 2023 Golden Coffee. All rights reserved.</span>
            </div>
        </div>
    </footer>